<app-header></app-header>
<main>
    <section id="header-section">
        <div class="header-data">
            <span>CARS STORE</span>
            <h1>O lugar perfeito para compra do seu novo carro</h1>
        </div>
        <img src="/assets/Fusca-principal.webp" alt="Imagem principal de carro">
    </section>
    <section id="service-section" class="list-cars">
        <h1>Alguns colecionaveis</h1>
        <app-images-gallery></app-images-gallery>
    </section>
    <section id="about-section" class="about">
        <h1>Sobre nós</h1>
        <div class="about-content">
            <p>Lorem ipsum, dolor sit amet <b>consectetur</b> adipisicing elit. Deserunt aut nostrum quis id ipsa veniam cum quae possimus, ducimus sunt adipisci p
                adipisicing elit. Deserunt aut nostrum quis id ipsa veniam cum quae possimus, ducimus sunt adipisci
                adipisicing elit. Deserunt aut nostrum quis id ipsa veniam cum quae possimus, ducimus sunt adipisci
                adipisicing elit. Deserunt aut nostrum quis id ipsa veniam cum quae possimus, ducimus sunt adipisci
            </p>
            <img src="/assets/Fusca-principal.webp" alt="">
        </div>
    </section>    
    <app-contact></app-contact>
    <section id="footer">
        <app-footer></app-footer>
    </section>
</main>

