:root {
    --primary-color: #415A77;
    --secondary-color: #E0E1DD;
    --tertiary-color: #778DA9;
    --quaternary-color: #0D1B2A;
    --quinary-color: ;
    --senary-color: ;
    --primary-text: #415A77;
}