<section class="contact-section">
    <div class="contact-data">
        <h3>Fale conosco</h3>
        <p>Dúvidas sobre modelos, financiamento ou qualquer outro aspecto? Não hesite em nos contatar. Estamos prontos para fornecer todas as informações necessárias para tornar sua experiência de compra de carro simples e tranquila.</p>
    </div>
    <form action="#" class="contact-form">
        <label for="name">Nome: </label>
        <input type="text">  
        <label for="email">Email: </label>
        <input type="email">
        <button>Se inscreva</button>
    </form>
</section>